<h1><%= @info.name %></h1>
<h2><%= @info.plant.name %></h2>
<img class="full" src="<%= @info.image %>" alt="<%= @info.name %>">
<a href="/butterflies/<%= @info.id %>/edit">Edit</a>
<a href="/butterflies/<%= @info.id %>/delete">Delete</a>