<form action="/butterflies/<%= @info['id'] %>" method="post" >
  <label for="name">Name<input type="text" name="name" id="name" value="<%= @info["name"] %>"></label>
  <label for="image">Image<input type="text" name="image" id="image" value="<%= @info["image"] %>"></label>
  <label for="family">Family
    <select name="family" id="family">
      <% %w(Papilionidae Pieridae Nymphalidae Lycaenidae Riodinidae).each do |family| %>
      <option <%= "selected" if family == @info["family"]%>><%= family %></option>
    <% end %>
  </label>
  <input type="submit" value="Update">
</form>